@{

}
<div class="row">
    <div class="col-md-12">
        <h2>¿Cómo empiezo a operar con facturas electrónicas?</h2>
        <ul>
            <li><a href="#">Voy a ingresar comprobantes de un CUIT que todavia no opera en el sitio</a></li>
            <li><a href="#">Me sumo a un grupo que ya está operando en el sitio</a></li>
        </ul>
    </div>
</div>
