@model PruebaCore.Entidades.Medio;
@{
    ViewData["Title"] = "Medios Insertar";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<hr />
<p><b>Insertar un medio</b></p>
<p>
    <form asp-action="MediosInsertar" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input asp-for="IdMedio" class="form-control" />
            <span asp-validation-for="IdMedio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Descr</label>
            <input asp-for="DescrMedio" class="form-control" />
            <span asp-validation-for="DescrMedio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Insertar" class="btn bg-primary" />
        </div>
    </form>
</p>
<br />

@{
    if (@TempData["Msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}
