@model CedFCIC.Entidades.UsuarioOlvidoClave;
@{
    ViewData["Title"] = "Cambiar su Contraseña";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form asp-action="CambiarClave">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Ingrese su clave actual, y su nueva contraseña / confirmación (luego haga click en el botón 'Aceptar').</label>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" type="password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <div class="fa fa-eye-slash overout1"></div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="PasswordNueva" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="PasswordNueva" class="form-control" type="password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <div class="fa fa-eye-slash overout2"></div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PasswordNueva" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="PasswordConfirmacion" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="PasswordConfirmacion" class="form-control" type="password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <div class="fa fa-eye-slash overout2"></div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PasswordConfirmacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Aceptar" class="btn btn-outline-primary" @ViewBag.Boton1ReadOnly />
                <a asp-action="Ingresar" asp-controller="Usuario" class="btn btn-outline-primary">Volver</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("div.overout1")
                .mouseover(function () {
                    $("#Password").attr("type", "text");
                })
                .mouseout(function () {
                    $("#Password").attr("type", "password");
                });
            $("div.overout2")
                .mouseover(function () {
                    $("#PasswordNueva").attr("type", "text");
                    $("#PasswordConfirmacion").attr("type", "text");
                })
                .mouseout(function () {
                    $("#PasswordNueva").attr("type", "password");
                    $("#PasswordConfirmacion").attr("type", "password");
                });
        });
    </script>
}
