@*@model List<CedFCIC.Entidades.Medio>*@
@*<input list="browsers" type="text" id="myInput" style="width:30%; background-color:antiquewhite">
<datalist id="browsers">
    @foreach (var item in Model)
    {
        <option value=@item.IdMedio>@item.IdMedio</option>
    }
</datalist>*@