@model List<PruebaCore.Entidades.Medio>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.IdMedio -- @item.DescrMedio
        </li>
    }
</ul>
<br />

<input list="browsers" type="text" id="myInput" style="width:30%; background-color:antiquewhite">
<datalist id="browsers">
    @foreach (var item in Model)
    {
        <option value=@item.IdMedio>@item.IdMedio</option>
    }
</datalist>


